body{font-family: "Montserrat";}

ul{width: 100%;}

ul li {
  margin-left: 15px;
  height: 200px;
  width: 200px;
  background-color: #00b4d8;
}

.con-link{
  position:fixed;
  display: inline-flex;
  margin-left: -5px;
  width: inherit;
  height: inherit;
  align-items: center;
}

.elemento{
  position: fixed;
  width: inherit;
}

.titulo p{
  font-family: "Ubuntu";
  font-size: 3rem;
  text-align:center;
  font-weight: bold;
}

.lista-con {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.con-item {
  padding-left: 10px;
  font-family: "Montserrat";
  font-size: 1.2rem;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  display: flex;
}

li:hover {background-color: #0077b6;}  /*a:hover, a:active, */

/* Cuerpo */

.contenido{
  text-align: center;
  padding: 1% 2%;
}


/* Footer */
footer {
   height: 50px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
